body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'DM Sans', sans-serif;
  background: url(./assets/bg.jpg) no-repeat center center;
  background-size: cover;
  
  color: #fff;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.7); /* increase to 0.8 for darker */

  z-index: -1;
}
.logo-center {
  text-align: center;
  margin-top: 60px;
  font-size: 78px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ff2c2c;
  text-shadow:
    0 0 10px rgba(255, 0, 0, 0.6),
    0 0 40px rgba(255, 0, 0, 0.3);
}

.tagline {
  font-size: 22px;
  letter-spacing: 3px;
  color: #777;
  margin-top: 10px;
  text-align: center;
}

.auth-container {
  width: 400px;
  margin: 40px auto;
  padding: 30px;
  background: #0d0d0d;
  border-radius: 16px;
  border: 1px solid #222;
  box-shadow: 0 0 0 1px rgba(255,255,255,0.03),
  0 20px 60px rgba(0,0,0,0.8);
}
.nav {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo {
  font-size: 40px;
  color: red;
  text-shadow: 0 0 20px rgba(255,0,0,0.5);
}
.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  background: #222;
  border: none;
  color: #aaa;
  cursor: pointer;
}

.tabs .active {
  background: red;
  color: white;
  border-radius: 6px;
}

.form {
  display: none;
}
.form h2 {
  margin-bottom: 10px;
}
.sub {
  font-size: 14px;
}

.form.active {
  display: block;
}

.sub {
  color: #aaa;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  background: #1a1a1a;
  border: 1px solid #333;
  color: white;
  border-radius: 6px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 13px;
}

.link {
  color: red;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  cursor: pointer;
}

.primary {
  background: transparent;
  border: 1px solid #555;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}

.primary:hover {
  border-color: #ff2c2c;
  box-shadow: 0 0 10px rgba(255,44,44,0.3);
}

.strength {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.strength div {
  flex: 1;
  height: 4px;
  background: #333;
}

.weak { background: red; }
.medium { background: orange; }
.strong { background: green;}
